[project]
	description = A declarative, efficient, and flexible JavaScript library for building user interfaces.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sassydeltagal
[access "refs/for/refs/*"]
	read = group user/sassydeltagal
	push = group user/sassydeltagal
	label-Code-Review = -2..+2 group user/sassydeltagal
	label-Verified = -1..+1 group user/sassydeltagal
	rebase = group user/sassydeltagal
	removeReviewer = group user/sassydeltagal
	submit = group user/sassydeltagal
[access "refs/heads/*"]
	read = group user/sassydeltagal
	create = group user/sassydeltagal
	push = +force group user/sassydeltagal
	pushMerge = group user/sassydeltagal
[access "refs/tags/*"]
	push = group user/sassydeltagal
	push = +force group user/sassydeltagal
